
*.ipch
*.db
*.suo
*.obj
*.tlog
*.log
*.pch
*.codeanalysisast
*.idb
*.pdb
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.opendb
*.ilk
*.txt
*.nupkg
*.targets
*.p7s
*.hpp
*.enc
*.sqlite
*.json
*.xml
*.png
*.ttf
packages/*