
*.ipch
*.db
*.suo
*.user
*.obj
*.tlog
*.log
*.pch
*.codeanalysisast
*.idb
*.pdb
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.opendb
*.ilk
*.txt
*.config
*.vcxproj
*.filters
*.nupkg
*.targets
*.p7s
*.hpp
*.vcxproj
*.filters
*.enc
build/obj/main.nativecodeanalysis.xml
build/obj/pch.nativecodeanalysis.xml
build/obj/vc.nativecodeanalysis.all.xml
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
chessgame/chessgame.json
*.json
assets/fonts/Saira-Regular.ttf
assets/images/board.png
assets/images/figures.png
assets/images/back.png
assets/images/load.png
assets/images/retry.png
assets/images/save.png
